<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="page-header">
        <div class="page-header text-center"><h1>Simulador de investimentos em renda fixa</h1></div>
    </div>
    <div class="container">
        <form action="/simulacao">
            <div>
                <fieldset>
                    <h2>Parametros da Aplicação</h2>
                    <div>
                        <label for="valor">Valor aplicado</label><br>
                        <input type="text" id="valor" name="valor" placeholder="R$ 0,00" required/>
                    </div>
                    <div>
                        <label for="prazo">Dias aplicados</label><br>
                        <input type="text" placeholder="365" required>
                    </div>
                    <div>
                        <label for="cdi-aplicacao">CDI Aplicação</label><br>
                        <input type="text" placeholder="%" required>
                    </div>
                    <div>
                        <label for="ir">Deduzir IR</label><br>
                        <input type="checkbox" required>
                    </div>
                    <div>
                        <label for="selic-meta">SELIC Meta</label><br>
                        <input type="text" value="10,75% a.a" disabled required>
                    </div>
                    <div>
                        <label for="cdi-meta">CDI Meta</label><br>
                        <input type="text" value="10,65% a.a" disabled required>
                    </div>
                    <div>
                        <label for="sobras">Porcentagem sobras sobre saldo médio</label><br>
                        <input type="text" value="0,87%" disabled>
                    </div>
                    <button type="submit">Calcular</button>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <h2>Resultado da simulação</h2>
                    <div>
                        <label for="rentabilidade-aplicacao">Rentabilidade paga</label><br>
                        <input type="text"  placeholder="R$ 0,00" disabled>
                    </div>
                    <div>
                        <label for="sobras-previstas">Sobras previstas</label><br>
                        <input type="text" placeholder="R$ 0,00" disabled>
                    </div>
                    <div>
                        <label for="data-resgate">Data de resgate</label><br>
                        <input type="date" disabled>
                    </div>
                    <div>
                        <br><label for="rentabilidade-bruta">Rentabilidade bruta</label><br>
                        <input type="text" placeholder="R$ 0,00" disabled>
                    </div>
                    <div>
                        <label for="cdi-considerando-sobras">CDI pago considerando sobras</label><br>
                        <input type="text" placeholder="%" disabled><br>
                    </div>
                    <div>
                        <br><label for="ir-deduzido">IR sobre rentabilidade</label><br>
                        <input type="text" placeholder="R$ 0,00" disabled>
                    </div>
                    <div>
                        <label for="rentabilidade-liquida">Rentabilidade liquida já deduzido imposto</label><br>
                        <input type="text" placeholder="R$ 0,00" disabled>
                    </div>
                    <div>
                        <p>* Os investimentos em renda fixa pós-fixada atrelada à taxa SELIC estão sujeitos a 
                        oscilações na taxa básica de juros, o que pode resultar em divergências no valor final.</p>
                    </div>
                </fieldset>
            </div>
            <button type="submit">Salvar simulação</button>
        </form>
    </div>
</body>
</html>