<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="static/styles.css"> -->
    <title>Simulador de investimentost</title>
</head>
<body>
    <div class="page-header">
        <div class="page-header text-center"><h1>Simulador de investimentos em renda fixa</h1></div>
    </div>
    <div class="container">
        <form action="/" method="POST">
            <fieldset>
                <h2>Parametros da Aplicação</h2>
                <div>
                    <label for="valor">Valor aplicado</label><br>
                    <input type="text" id="valor" name="valor" placeholder="1000,00" required/>
                </div>
                <div>
                    <label for="prazo">Dias aplicados</label><br>
                    <input type="text" placeholder="365" name="dias" required>
                </div>
                <div>
                    <label for="cdi-aplicacao">CDI Aplicação</label><br>
                    <input type="text" name="cdi" placeholder="%" required>
                </div>
                <div>
                    <label for="selic-meta">SELIC Meta</label><br>
                    <input type="text" value="10,75% a.a" disabled required>
                </div>
                <div>
                    <label for="cdi-meta">CDI Meta</label><br>
                    <input type="text" value="10,65% a.a" disabled required>
                </div>
                <div>
                    <label for="sobras">Porcentagem sobras sobre saldo médio</label><br>
                    <input type="text" value="0,87%" disabled>
                </div>
                <button type="submit">Calcular</button>
            </fieldset>
        </form>
        <form action="/salvar_simulacao">
            <fieldset>
                <h2>Resultado da simulação</h2>
                <div>
                    <label for="rentabilidade-aplicacao">Valor Rentabilidade</label><br>
                    <input type="text"  placeholder="R$ 0,00" value="{{ rentabilidade_paga }}" disabled>
                </div>
                <div>
                    <label for="sobras-previstas">Valor das sobras previstas</label><br>
                    <input type="text" placeholder="R$ 0,00" value="{{ valor_sobras }}" disabled>
                </div>
                <div>
                    <br><label for="rentabilidade_bruta_valor">Valor Rentabilidade bruta</label><br>
                    <input type="text" placeholder="R$ 0,00" value="{{ rentabilidade_bruta_valor }}" disabled>
                </div>
                <div>
                    <label for="cdi_considerando_sobras">CDI bruto considerando sobras</label><br>
                    <input type="text" placeholder="%" value="{{ cdi_considerando_sobras }}" disabled><br>
                </div>
                <div>
                    <label for="rentabilidade_bruta_porcentagem_aa">Rentabilidade Bruta a.a</label><br>
                    <input type="text" placeholder="%" value="{{ rentabilidade_bruta_porcentagem_aa }}" disabled>
                </div>
                <div>
                    <br><label for="valor_resgate">Valor a ser resgatado</label><br>
                    <input type="text" value="{{ valor_resgate }}" placeholder="R$ 0,00" disabled>
                </div>
                <div>
                    <p>* Os investimentos em renda fixa pós-fixada atrelada à taxa SELIC estão sujeitos a 
                    oscilações na taxa básica de juros, o que pode resultar em divergências no valor final.</p>
                    <p>* As sobras consideram o saldo médio de investimentos no ultimo exercicio de 12 meses. 
                        Na ultima assembleia foi distribuido 0,87% sobre o saldo de médio de aplicações</p>
                    <p>* As sobras podem variar de acordo com o resultado liquido da cooperativa e as decisões dos cooperados na AGO.</p>
                </div>
                <br><label for="descricao">Descrição da Simulação</label><br>
                <input type="text" name="descricao" id="descricao">
                <button type="submit">Salvar simulação</button>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descrição simulação</th>
                    <th>Valor aplicado</th>
                    <th>CDI</th>
                    <th>CDI c/ sobras</th>
                    <th>Dias</th>
                    <th>Rentabilidade bruta</th>
                    <th>x</th>
                </tr>
            </thead>
            <tbody>
                {% for simulacao in simulacoes_lista %}
                <tr>
                    <td>{{ simulacao.descricao }}</td>
                    <td>{{ simulacao.valor_aplicado }}</td>
                    <td>{{ simulacao.cdi}}</td>
                    <td>{{ simulacao.cdi_sobras }}</td>
                    <td>{{ simulacao.dias }}</td>
                    <td>{{ simulacao.rentabilidade_bruta }}</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>